.header {
//   width: 100%;
position: sticky;
top: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: $color_dark_blue;
  
  > div {
      max-width: 1000px;
      margin: auto;
      
      p {
        color: $color_secondary_yellow;
      font-size: 30px;
      font-weight: 600;
    }
  }
}
